$bgcolorlight: #8ff2ff;
$txtcolorlight: #000000;
$bgcolordark: #1a2e30;
$txtcolordark: #FFFFFF;

$buttoncolorlight: rgb(255, 209, 124);
$buttontxtlight: #000000;
$buttoncolordark: rgb(189, 91, 0);
$buttontxtdark: #FFF;